footer {
  background-color: aqua;
  padding: 20px;
  border: 10px;
  border-color: blue;
  
}

#filmreleasebox {
  padding: 30px;
}

main {
  padding: 30px;
  border: 5px;
  background-color: antiquewhite;
}

li{
  padding: 5px;
}